<style>
    .pure-menu {
        background: #b4ebfd;
    }
    .pure-menu-disabled, .pure-menu-heading, .pure-menu-link {
    padding: 0em 1.5em;
}

.pure-menu-horizontal {

}

    #logodiv {
  display: inline;
  max-width: 30%;
  height: 30%;
  margin: 0px;
  padding-left: .5em;
  line-height: 1;
    }
  
  #logo {
  max-width: 4em;
  height: auto;
  margin: 0px;
  line-height: 1;
    }
  #headerpadding {
    height: 3.5em;
  }  
</style>
<div class="pure-menu pure-menu-horizontal">
<div class="container" id="logodiv">
<img id="logo" src="musiclinkslogo.png"></img>
</div>
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="http://localhost:3000/students" class="pure-menu-link">Students</a>
        </li>
        <li class="pure-menu-item">
            <a href="http://localhost:3000/login" class="pure-menu-link">Teachers</a>
        </li>
    </ul>
</div>
<div id="headerpadding">
</div>