<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head') %>
</head>
<body class="container">

<header>
</header>



<div class="container-fluid">
    <p>Add a new link</p>
</div>


<footer>

</footer>

</body>
</html>