<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head') %>
</head>
<body class="container">

<header>
</header>

<main>
    <div class="jumbotron">
        <h1>Music Links</h1>
        <p>A space for organizing and sharing sheet music</p>
        <a href="http://localhost:3000/login">Login</a>
        <a href="http://localhost:3000/register">Register</a>
    </div>
</main>

<div class="container-fluid">
    <p>Information About the page</p>
</div>


<footer>

</footer>

</body>
</html>