<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
      <%- include('../partials/header') %>
    </header>
    <div class="container">
     <main>
        <div class="jumbotron">
            <h1>Music Links</h1>
            <p>A space for organizing and sharing sheet music</p>
            <a href="http://localhost:3000/students">Students</a>       
            <br/>
            <a href="http://localhost:3000/login">Teachers</a>    
            <p>New to music-links?<p>
            <a href="http://localhost:3000/register">Create a new account</a>
        </div>
    </main>

        <div class="container-fluid">
            <p>Information About the page</p>
        </div>
    </div>
    
    <footer>
    
    </footer>

</body>
</html>