<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="../css/landing.css" crossorigin="anonymous">
</head>
<body>
    <header>
      <%- include('../partials/header') %>
    </header>
    <div class="container">
     <main>
        <div class="jumbotron">
            <h1 class="title">Music Links</h1>
            <p class="subtitle">A space for organizing and sharing sheet music</p>
            <div class="subcontainer">
                <p class="subtitle-smaller">Click if you are a <a class="pointer" href="http://localhost:3000/students">Student</a></p>       
                <div class="small-breaker"></div>
                <p class="subtitle-smaller" id="bottomSub">Click if you are a <a class="pointer" href="http://localhost:3000/login">Teacher</a></p>   
            </div>
            <p class="subtitleNew">New to music-links?<p>
            <div class="subcontainer-small">
                <a class="pointerNew" href="http://localhost:3000/register">Create a new account</a>
            </div>
        </div>
    </main>

        <div class="container-fluid">
            
              <div class="content">
            <h2 class="content-subhead">About Music Links</h2>
            <p>
                Simple, fast, easy and free, Music Links helps teachers share music with their students without the hassle of other sites.
            </p>
            <p>
                Music Links was born out of the desire to share music more easily for students and parents struggling with technology after the quarentine orders of the Covid-19 Pandemic. Many music teachers expressed frustration at using google drive and dropbox for music since it often required kids to use email or know a password. Music links simplifies the process of sharing music and groups it together for parents and kids alike.  
            </p>

            <div class="pure-g">
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="http://farm3.staticflickr.com/2875/9069037713_1752f5daeb.jpg" alt="Peyto Lake">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="http://farm3.staticflickr.com/2813/9069585985_80da8db54f.jpg" alt="Train">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="http://farm6.staticflickr.com/5456/9121446012_c1640e42d0.jpg" alt="T-Shirt Store">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="http://farm8.staticflickr.com/7357/9086701425_fda3024927.jpg" alt="Mountain">
                </div>
            </div>

            <h2 class="content-subhead">Try Resizing your Browser</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
            <p class="about"></p>
        </div>
    </div>
    <div class="footer-spacer"></div>
    <footer>
            <%- include('../partials/footer') %>
    </footer>

</body>
</html>