<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head') %>
</head>
<body class="container">

<header>
</header>

<div class="container-fluid">
    <p>Login</p>
</div>
<form id="login" method="post" action="/loginUser">
  <div class="form-group">
    <label for="formGroupExampleInput">Example label</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Another label</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
  </div>
   <button type="submit" class="btn btn-primary">Sign in</button>
</form>

<footer>

</footer>

</body>
</html>