<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head') %>
<link rel="stylesheet" href="../css/login.css" crossorigin="anonymous">
</head>
<body>

<header>
<%- include('../partials/header') %>
</header>

<div class="container">

<div class="jumbotron">
    <h4>Login</h4>
    <br/>
<form id="login" method="post" action="/loginUser">
  <div class="form-group">
    <label for="teacherEmail">Enter registered email</label>
    <input type="text" class="form-control" name="teacherEmail" placeholder="I_am_the_best_music_teacher@notAOL.com" required>
  </div>
  <div class="form-group">
    <label for="teacherPassword">Enter password</label>
    <input type="password" class="form-control" name="teacherPassword" placeholder="symphony123" required>
  </div>
   <button type="submit" class="btn btn-primary">Sign in</button>
   <h4 id="signup">Don't have an account, <a href="http://localhost:3000/register">Sign Up</a></h4>
   <%var message%>
   <h5><%= message %></h5>
</form>
</div>
</div>

<footer>

</footer>

</body>
</html>