<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head') %>

</head>
<body class="container">

<header>
</header>

  <%var message%>
  
<div class="container-fluid">
    <h2>Here's the identicon</h2>
        <div id='identicon'>
            <svg data-jdenticon-value= "<%= message %>" width="80" height="80">
              Fallback text or image for browsers not supporting inline svg.
            </svg>
        </div>
</div>


<footer>

</footer>
<script type="text/javascript" src="scripts/profile-script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jdenticon@3.0.1" async>
</script>
</body>
</html>