<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head') %>
<link rel="stylesheet" href="../css/students.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>
<body>

<header>
 <%- include('../partials/header') %>
</header>

<div class="container">

<div class="jumbotron">
    <h2 class="content-subhead">Welcome Students!</h2>
    <h4 id="enterEmail">Enter your Teacher's Email Address</h4>
    <form id="studentLogin">
  <div class="form-group">
    <label for="teacherEmail"></label>
    <input type="email" class="form-control" name="teacherEmail" id="teacherEmail" aria-describedby="emailHelp" placeholder="teacher's email address">
     <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  <button type="submit" class="btn btn-primary" id="postBtn">Submit</button>
</form>
</div>

<div id="postDiv">
        
        </div>

</div>

<footer>

</footer>
<script type="text/javascript" src="scripts/student-script.js"></script>

</body>
</html>