<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="../css/teachers.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>
<body>
    <header>
      <%- include('../partials/header') %>
    </header>
    <div class="container">
     <main>
        <div class="jumbotron">
            <h1>Home Profile</h1>
        </div>
    </main>
        
        <div class="container-fluid">
        <h2 id="topMessage"></h2>
        <div id="spacer"></div>
        <h3 id="newPost">Create New Post</h3>
        <div class="smallSpacer"></div>
            <form class="pure-form" method="post" action="/teachers">
                <fieldset class="pure-group">
                    <input type="text" class="pure-input-1-2" name="postTitle" placeholder="Title of post" required />                  
                </fieldset>
                <fieldset class="pure-group">
                    <input type="url" class="pure-input-1-2" name="link" placeholder="http://www." required />
                    <textarea class="pure-input-1-2" placeholder="Description of music" name="description" required></textarea>
                </fieldset>
                <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Add music to profile</button>
                 <br/>
                 <h3 id="bottomMessage">
            <% var message %>
            <%= message %>
            <h3>
            </form>
        </div>
        <div id="postDiv">
        
        </div>

    </div>
    <div class="footer-spacer"></div>
    <footer>
            <%- include('../partials/footer') %>
    </footer>
</body>
<script type="text/javascript" src="scripts/teacher-script.js"></script>
</html>